<div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
            <form > 
                <div class="panel panel-info">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{$ctrl.employees.firstName}} {{$ctrl.employees.lastName}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" align="center">
                                <div>
                                    <img alt="User_Pic" src="/image/me-flat.jpg" class="img-responsive">
                                    <hr />
                                    <label>Upload a different photo</label>
                                    <input type="file" />
                                </div>
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-9 ">

                                <table class="table table-hover">
                                    <tbody>                                       
                                        <tr>
                                            <th>First Name:</th>
                                            <td><input class="form-control" id="firstName" name="firstName" ng-model="$ctrl.employees.firstName" value="{{$ctrl.employees.firstName}}" /></td>

                                        </tr>
                                        <tr>
                                            <th>Last Name:</th>
                                            <td><input class="form-control" id="lastName" name="lastName" ng-model="$ctrl.employees.lastName" value="{{$ctrl.employees.lastName}}" /></td>
                                        </tr>
                                        <tr>
                                            <th>Date of Birth:</th>
                                            <td>
                                                <p class="input-group">
                                                    <input  class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.employees.doB" value="$ctrl.employees.doB" datepicker-options="$ctrl.dateOptions" is-open="$ctrl.popup1.opened" ng-required="true" alt-input-formats="$ctrl.altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </td>                                            
                                        </tr>
                                        <tr>
                                            <th>Gender:</th>
                                            <td>
                                                <div class="btn-group" data-toggle="buttons-radio">
                                                    <label class="btn-sm btn-primary"><input type="radio" name="gender" ng-model="$ctrl.employees.gender" value="Male" checked="checked" />Male  </label>
                                                    <label class="btn-sm btn-danger"><input type="radio" name="gender" ng-model="$ctrl.employees.gender" value="Female" />Female</label>
                                                </div>
                                            </td>
                                         
                                        </tr>
                                        <tr>
                                            <th>Phone Number:</th>
                                            <td><input id="phoneNumber" class="form-control" name="phoneNumber" ng-model="$ctrl.employees.phoneNumber" value="{{$ctrl.employees.phoneNumber}}" /></td>
                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td><span id="email" class="form-control" name="email">{{$ctrl.employees.email}}</span></td>
                                        </tr>
                                        <tr>
                                            <th>Position:</th>
                                            <td>{{$ctrl.employees.position}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div align="right">
                        <a class="btn btn-sm btn-success" type="submit" ng-click="$ctrl.save()" href="" ><i class="glyphicon glyphicon-ok"></i> Save</a>
                        <a data-original-title="Cancel" data-toggle="tooltip" ng-href="#/profile" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>