<div>
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h3 class="panel-title"><b>Edit Team</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" align="center">
                        <div>
                            <img alt="User_Pic" src="/image/team.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 ">
                        <h3><label>Team Information</label></h3>
                        <hr />
                        <form>
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Team Name: </th>
                                        <td><input ng-change="$ctrl.teamNameOnChanging()" class="form-control" ng-model="$ctrl.teamNameModel.teamName" value="$ctrl.teamDetail.teamName" /></td>
                                        <td>
                                            <div ng-if="$ctrl.teamNameSaved==false">
                                                <a ng-click="$ctrl.changeTeamName()" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-check"></i></a>
                                            </div>
                                            <div ng-if="$ctrl.teamNameSaved==true">
                                                <a class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok-sign"></i></a>
                                            </div>

                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Team Lead:</th>
                                        <td>
                                            <div ng-if="$ctrl.showTeamLead==false"><input class="form-control" value="{{$ctrl.teamLeadModel.firstName}} {{$ctrl.teamLeadModel.lastName}}" disabled /></div>
                                            <div ng-if="$ctrl.showTeamLead==true">
                                                <ui-select ng-model="$ctrl.teamLeadModel">
                                                    <ui-select-match>
                                                        <span ng-bind="$select.selected.firstName + ' ' + $select.selected.lastName"></span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="employee in ($ctrl.employeeList | filter: $select.search) track by employee.userId">
                                                        <span ng-bind="employee.firstName + ' ' + employee.lastName"></span>
                                                        <br />
                                                        <small>
                                                            email: <span ng-bind="''+employee.email | highlight: $select.search"></span>,
                                                            phone: {{employee.phoneNumber}},
                                                            gender: {{employee.gender}}
                                                        </small>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="$ctrl.showTeamLead==false">
                                                <a ng-click="$ctrl.showChangeTeamLead()" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-refresh"></i> Change</a>
                                            </div>
                                            <div ng-if="$ctrl.showTeamLead==true">
                                                <a ng-click="$ctrl.changeTeamLead()" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-check"></i></a>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Members:</th>
                                        <th>
                                            {{$ctrl.members.length}}
                                        </th>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="member in $ctrl.members">
                                        <th></th>
                                        <td>
                                            {{$index+1}}: {{member.firstName}} {{member.lastName}}
                                        </td>
                                        <td><a ng-confirm-click="Are you sure to remove this member?" confirmed-click="$ctrl.removeMember(member.id,$index)" class="btn btn-sm btn-danger" ><i class="glyphicon glyphicon-remove"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <ui-select ng-model="$ctrl.newMember">
                                                <ui-select-match>
                                                    <span ng-bind="$select.selected.firstName + ' ' + $select.selected.lastName"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="employee in ($ctrl.employeeList | filter: $select.search) track by employee.userId">
                                                    <span ng-bind="employee.firstName + ' ' + employee.lastName"></span>
                                                    <br />
                                                    <small>
                                                        email: <span ng-bind="''+employee.email | highlight: $select.search"></span>,
                                                        phone: {{employee.phoneNumber}},
                                                        gender: {{employee.gender}}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td><a ng-click="$ctrl.addMember()" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i> Add New</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div align="right">
                <a ng-href="#/teams" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>                
            </div>

        </div>
    </div>
</div>