<!DOCTYPE html>
<html ng-app="vacationApp">
<head>
    <meta charset="utf-8" />
    <title>Vacation Tracking</title>
    <!--CSS-->

    <link href="css/layout.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="lib/jquery-ui/themes/redmond/jquery-ui.css" rel="stylesheet" />
    <link href="lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
    <link href="lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="lib/angular-ui-select/dist/select.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div ng-include="'app/partial/navbar.html'" ng-if="location.path() !== '/login'">    
        </div>
        <div class="paddingtop">
            <div class="row">
                <!--sidebar-->
                <div class="col-xs-3 col-md-2  bgpage" ng-include="'app/partial/sidebar.html'" ng-if="location.path() !== '/login'"></div>

                <div class="col-xs-9 col-md-10 main">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>

    <!--JS-->
    <script src="lib/moment/moment.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="lib/angular-ui-select/dist/select.js"></script>
    <!--Index-->

    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/Auth/service.js"></script>
    <script src="app/directive/app.directive.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <!--login, logout-->
    <script src="app/login/login.module.js"></script>
    <script src="app/login/login.component.js"></script>
    <script src="app/Auth/auth.controller.js"></script>

    <script src="app/logout/logout.module.js"></script>
    <script src="app/logout/logout.controller.js"></script>

    <!--Home-->
    <script src="app/home/home.module.js"></script>
    <script src="app/home/home.component.js"></script>

    <!--Vacation-->

    <script src="app/vacation/vacation-booking/vacation.module.js"></script>
    <script src="app/vacation/vacation-booking/vacation.component.js"></script>

    <script src="app/vacation/vacation-request/vacation-request.module.js"></script>
    <script src="app/vacation/vacation-request/vacation-request.component.js"></script>

    <script src="lib/angular-ui-calendar/src/calendar.js"></script>
    <script src="lib/fullcalendar/dist/fullcalendar.js"></script>

    <!--Profiles-->
    <script src="app/profiles/profile-detail/profile-detail.module.js"></script>
    <script src="app/profiles/profile-detail/profile-detail.component.js"></script>

    <script src="app/profiles/profile-edit/profile-edit.module.js"></script>
    <script src="app/profiles/profile-edit/profile-edit.component.js"></script>

    <script src="app/profiles/change-password/change-password.module.js"></script>
    <script src="app/profiles/change-password/change-password.component.js"></script>

    <!--Employees-->
    <script src="app/employees/employee-list/employee-list.module.js"></script>
    <script src="app/employees/employee-list/employee-list.component.js"></script>

    <script src="app/employees/employee-detail/employee-detail.module.js"></script>
    <script src="app/employees/employee-detail/employee-detail.component.js"></script>

    <script src="app/employees/employee-edit/employee-edit.module.js"></script>
    <script src="app/employees/employee-edit/employee-edit.component.js"></script>

    <script src="app/employees/employee-add/employee-add.module.js"></script>
    <script src="app/employees/employee-add/employee-add.component.js"></script>

    <!--Teams-->
    <script src="app/teams/team-list/team-list.module.js"></script>
    <script src="app/teams/team-list/team-list.component.js"></script>

    <script src="app/teams/team-edit/team-edit.module.js"></script>
    <script src="app/teams/team-edit/team-edit.component.js"></script>

    <script src="app/teams/team-detail/team-detail.module.js"></script>
    <script src="app/teams/team-detail/team-detail.component.js"></script>

    <script src="app/teams/team-add/team-add.module.js"></script>
    <script src="app/teams/team-add/team-add.component.js"></script>

    <!--Report-->
    <script src="app/report/report.module.js"></script>
    <script src="app/report/report.component.js"></script>
</body>
</html>