<div>
    <!--Modal-->
    <script type="text/ng-template" id="vacationDetailModal.html">
        <form name="form" novalidate>
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Vacation Detail</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <span><label>Reason:</label> <input class="form-control" name="newReason" ng-model="$ctrl.vacationDetail.title" required /> </span>
                <div ng-if="form.newReason.$touched">
                    <p ng-show="form.newReason.$error.required" class="text-danger">Enter your reason!</p>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <label>From Date:</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.formatModal}}" ng-model="$ctrl.vacationDetail.start" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="$ctrl.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div uib-timepicker ng-model="$ctrl.vacationDetail.start" ng-change="$ctrl.fromChanged()" hour-step="$ctrl.hstep" minute-step="$ctrl.mstep"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <label>To Date:</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.formatModal}}" ng-model="$ctrl.vacationDetail.end" is-open="$ctrl.popup2.opened" datepicker-options="$ctrl.toDateOptions" ng-required="true" close-text="Close" alt-input-formats="$ctrl.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div uib-timepicker ng-model="$ctrl.vacationDetail.end" ng-change="$ctrl.changed()" hour-step="$ctrl.hstep" minute-step="$ctrl.mstep"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span ng-if="$ctrl.updateClicked==false && $ctrl.cancelClicked==false">
                    <button class="btn btn-success" type="button" ng-if="$ctrl.vacationDetail.start >= $ctrl.getDate" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" ng-click="$ctrl.update()">Update Vacation</button>
                    <button class="btn btn-danger" type="button" ng-if="$ctrl.vacationDetail.start >= $ctrl.getDate" ng-confirm-click="Are you sure to cancel this vacation?" confirmed-click="$ctrl.cancel($ctrl.vacationDetail.id)">Cancel Vacation</button>
                </span>
                <span ng-if="$ctrl.updateClicked==true"> <input class="btn btn-success" value="Updating..." disabled /></span>
                <span ng-if="$ctrl.cancelClicked==true"> <input class="btn btn-danger" value="Canceling..." disabled /></span>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close</button>
            </div>
        </form>
    </script>




    <!-------------------------Calendar----------------------------->
    <div ui-calendar="$ctrl.uiConfig.calendar" ng-model="$ctrl.eventSources" calendar="myCalendar" class="calendar"></div>
    <hr />
    <form name="form" novalidate>
        <div class="panel panel-success ">
            <div class="panel panel-heading">
                <h4>Book Your Vacation</h4>
            </div>
            <div class="panel panel-body">
                <span>Reason: <input class="form-control" name="reason" ng-model="$ctrl.newVacations.title" required /> </span>
                <div ng-if="form.reason.$touched">
                    <p ng-show="form.reason.$error.required" class="text-danger">Enter your reason!</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                From Date:
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.newVacations.start" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="$ctrl.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div uib-timepicker ng-model="$ctrl.newVacations.start" ng-change="$ctrl.fromChanged()" hour-step="$ctrl.hstep" minute-step="$ctrl.mstep"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                To Date:
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.newVacations.end" is-open="$ctrl.popup2.opened" datepicker-options="$ctrl.toDateOptions" ng-required="true" close-text="Close" alt-input-formats="$ctrl.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="$ctrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div uib-timepicker ng-model="$ctrl.newVacations.end" ng-change="$ctrl.changed()" hour-step="$ctrl.hstep" minute-step="$ctrl.mstep"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div ng-if="$ctrl.booked==false">
                    <input ng-click="$ctrl.bookVacation()" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" class="btn btn-success" value="Book" />
                </div>
                <div ng-if="$ctrl.booked==true">
                    <input class="btn btn-success" value="Booking..." disabled />
                </div>
            </div>

        </div>
    </form>
</div>

