<div>
    <div>
        <a ng-href="#/teams/add"  class="btn btn-md btn-success"><i class="glyphicon glyphicon-plus"></i> Add new team</a>
        <span class="pull-right"><b> Search team: </b><input /></span>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Team Name</th>
                    <th>Team Lead</th>                  
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in $ctrl.teams">
                    <td>{{$index+1}}</td>
                    <td>{{team.teamName}}</td>
                    <td>{{team.firstName}} {{team.lastName}}</td>                  
                    <td>
                        <a ng-click="$ctrl.editId(team.id)"  class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a> 
                        <a ng-click="$ctrl.detailId(team.id)" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-info-sign"></i> Detail</a> 
                        <a ng-confirm-click="Are you sure to remove this team?" confirmed-click="$ctrl.remove(team.id, $index)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i> Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>