<div class="modal-demo">
    <!--Modal-->
    <script type="text/ng-template" id="myModalContent.html">
        <form name="form" novalidate>
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Disapprove this vacation!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <label>Reason:</label> <input class="form-control" name="reason" ng-model="$ctrl.reasons.reason" required />
                <div ng-if="form.reason.$touched">
                    <p ng-show="form.reason.$error.required" class="text-danger">Reason is required</p>
                </div>
            </div>
            <div class="modal-footer">
                <span ng-if="$ctrl.disapproveClicked==false"><button class="btn btn-primary" type="button" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" ng-click="$ctrl.ok()">OK</button></span>
                <span ng-if="$ctrl.disapproveClicked==true"><input class="btn btn-primary" value="Wait..." disabled /></span>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <!--Request-->
    <div><h1><b>Vacation Request</b></h1></div>
    <div class="request-scoll">
        <div ng-repeat="vacation in $ctrl.vacations">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <div class="panel-title">{{vacation.firstName}} {{vacation.lastName}}</div>

                </div>
                <div class="vacation-request">
                    <table>
                        <tbody>
                            <tr>
                                <th>Reason: </th>
                                <td>{{vacation.title}}</td>
                            </tr>
                            <tr>
                                <th>From date: </th>
                                <td>{{vacation.start | date: "dd/MM/yyyy hh:mm a"}}</td>
                            </tr>
                            <tr>
                                <th>To date: </th>
                                <td>{{vacation.end | date: "dd/MM/yyyy hh:mm a"}}</td>
                            </tr>
                            <tr>
                                <th>
                                    <div ng-if="$ctrl.approveClicked==false||$ctrl.indexClicked!=$index">
                                        <a href="" class="btn btn-success" ng-click="$ctrl.approve(vacation,$index)">Approve</a>
                                    </div>
                                    <div ng-if="$ctrl.approveClicked==true&&$ctrl.indexClicked==$index">
                                        <input value="Approving..." class="btn btn-success" disabled />
                                    </div>

                                </th>
                                <td><a href="" class="btn btn-danger" ng-click="$ctrl.disaprrove(vacation.id,$index)">Disapprove</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>
