<div>
    <div inner-html-bind inner-html="modal_html_template" class="hidden">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <div>
        <a ng-href="#/employees/add"  class="btn btn-md btn-success"><i class="glyphicon glyphicon-plus"></i> Add new employee</a>
        <span class="pull-right"><b> Search employee: </b><input  /></span>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>               
                    <th>Gender</th>
                    <th>Dob</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>RDO</th> <!--Remaining day off-->
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in $ctrl.employees">
                    <td>{{$index+1}}</td>
                    <td>{{employee.firstName}} {{employee.lastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.doB|date}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.remainingDayOff}}</td>
                    <td>{{employee.status}}</td>                    
                    <td>
                        <a href="" ng-click="$ctrl.editId(employee.userId)" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i></a> 
                        <a href="" ng-click="$ctrl.detailId(employee.userId)"  class="btn btn-sm btn-info"><i class="glyphicon glyphicon-info-sign"></i></a> 
                        <a href="" type="button" class="btn btn-sm btn-danger" ng-confirm-click="Are you sure to delete this employee ?" confirmed-click="$ctrl.removeUser(employee.userId)"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
       
    </div>
</div>

