<div>
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h3 class="panel-title"><b>Create New Team</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" align="center">
                        <div>
                            <img alt="User_Pic" src="/image/team.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 ">
                        <h3><label>Team Information</label></h3>
                        <hr />
                        <form>
                            <table class="table table-hover">
                                <tbody>                                   
                                    <tr>
                                        <th>Team Lead:</th>
                                        <td>
                                            <ui-select ng-model="$ctrl.newTeams">
                                                <ui-select-match>
                                                    <span ng-bind="$select.selected.firstName + ' ' + $select.selected.lastName"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="employee in ($ctrl.employees | filter: $select.search) track by employee.userId">
                                                    <span ng-bind="employee.firstName + ' ' + employee.lastName"></span>
                                                    <br />
                                                    <small>
                                                        email: <span ng-bind="''+employee.email | highlight: $select.search"></span>,
                                                        phone: {{employee.phoneNumber}},
                                                        gender: {{employee.gender}}
                                                    </small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Team Name: </th>
                                        <td><input class="form-control" ng-model="$ctrl.newTeams.teamName" /></td>

                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <a ng-click="$ctrl.save()" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i> Save</a>
                                            <a ng-href="#/teams" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>