<div class="col-sm-offset-4 col-sm-4">
    <form name="form" novalidate>
        <center> <h2>Change Password</h2></center>
        <br />
        <div >
            <div class="form-group">
                <label>Old Password:</label> 
                <input name="oldPassword" type="password" ng-model="$ctrl.profiles.oldPassword" class="form-control" required />
                <div ng-if="form.oldPassword.$touched || formSubmitted">
                    <p ng-show="form.oldPassword.$error.required" class="text-danger">Old password is required</p>
                </div>
               
            </div>
            <div class="form-group">
                <label>New Password:</label> 
                <input type="password" name="newPassword" ng-model="$ctrl.profiles.newPassword"class="form-control" ng-minlength="8"  required />
                <div ng-if="form.newPassword.$touched || formSubmitted">
                    <p ng-show="form.newPassword.$error.minlength" class="text-danger">Password must be at least 8 characters </p>
                    <p ng-show="form.newPassword.$error.required" class="text-danger">Confirm password is required</p>
                   
                    <p ng-show="form.newPassword.$error.matchPassword && !form.newPassword.$error.required" class="text-danger">Confirm password didn't match</p>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm New Password:</label> 
                <input  type="password" name="confirm_newPassword" ng-model="$ctrl.profiles.confirm_newPassword"  class="form-control" match-password="$ctrl.profiles.newPassword" ng-minlength="8" required/>
                <div ng-if="form.confirm_newPassword.$touched || formSubmitted">
                    <p ng-show="form.confirm_newPassword.$error.minlength" class="text-danger">Password must be at least 8 characters </p>
                    <p ng-show="form.confirm_newPassword.$error.required" class="text-danger">Confirm password is required</p>
                    <p ng-show="form.confirm_newPassword.$error.matchPassword && !form.confirm_newPassword.$error.required" class="text-danger">Confirm password didn't match</p>
                </div>
            </div>
            <div class="form-group">
                <div >
                    <center><input type="submit" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" ng-click="$ctrl.changepass()" name="formSubmitted" class="btn btn-success" value="Change Password" /></center>
                </div>
               
            </div>
        </div>
    </form>
</div>
