<div>
    <div class="col-sm-offset-2 col-md-offset-3">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form name="form" ng-submit="$ctrl.onLogin()" novalidate>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="$ctrl.user.email" placeholder="Email" autofocus required>
                    </div>
                    <div ng-show="form.email.$dirty && form.email.$invalid" class="text-danger">
                        <div ng-show="form.email.$error.required">Enter you email</div>
                        <div ng-show="form.email.$error.email">Email is not in the correct format</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" ng-model="$ctrl.user.password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div ng-show="form.password.$dirty && form.password.$invalid" class="text-danger">
                        <div ng-show="form.password.$error.required">Enter your password</div>
                    </div>
                    <!--<div>
                        <input type="checkbox" id="rememberMe" ng-model="authLoginCtrl.user.rememberMe" value="true" /> Remember Me
                    </div>-->
                    <input  type="submit" name="Login" id="Login" class="login loginmodal-submit form-control" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)" value="Log in">
                    
                   
                </form>
               
                <hr />
                <center>Login with:</center>
                <div>
                    <form action="/api/Account/ExternalLogin?Provider=Google&ReturnUrl=/" method="post">
                        <button type="submit" class="btn btn-info form-control" >Google Sign In</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkClose" href="#" class="close">&times;</a>
        <div id="divErrorText"></div>
    </div>
</div>
